/* Add CSS Styling */
.class {
    background-color: rgba(255, 0, 200, 0.75);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#big-blue {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#green {
    background-color: rgba(180, 255, 160, 0.75);
    font-weight: bold;
}